.sinNada{
    padding: 0;
    margin: 0;
}

.categ-div{
    width: auto!important;
}

.widget {
    padding: 0;
}

.cont-categorias{
    padding: 24px 0;
}

.post-tabs{
    padding: 0 24px;
}
.cont-categorias{
    padding: 15px;
}